@{

    ViewBag.Title = "Home Page";

}

    <div class="jumbotron">

        <h1 style="Color: Black; font-family: 'Times New Roman', Times, serif ">RNDM Motors</h1>

        <p class="lead">

        <p style="color: black">

            welcome to rndm motors, on behalf of our staff, thank you for visiting our website and giving us an opportunity to serve you online. our commitment to perfection is exceeded only by our commitment to offer you the highest levels of guest satisfaction.

        </p>

        </p>

        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

    </div>

    <div class="row">

        <div class="col-md-4">

            <h2 style="color:white">Getting started</h2>

            <p style="color:white">

                Our professional and well-trained staff is ready to assist you with your automotive needs. RNDM Motors strives hard to make sure each and every one of our guests feels completely satisfied.

            </p>

            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>

        </div>

    </div>